<div id="right-col">
    <div class="twitter">
        <h3 style="color:#FFF">Latest Tweets</h3>

        <div id="twitter-feed"></div>

        <div id="twitter-btn">
            <a href="https://twitter.com/SquashBath" class="twitter-follow-button" data-show-count="false">Follow @SquashBath</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div><!--Twitter btn-->

    </div><!--col-->

    <div class="box-1 response-width">
        <h3>Bath Sports & Leisure Centre</h3>
        <p><strong>Reception:</strong> 01225 486 905</p>
        <p><strong>Memberships:</strong> 01225 486 914</p>
        <p><strong>Website:</strong><a href="http://www.better.org.uk/leisure/bath-sports-and-leisure-centre"> www.better.org.uk</a></p>                   <p><strong>Location: </strong><a href="http://maps.google.co.uk/maps?q=Bath+Sports+and+Leisure+Centre&amp;hl=en&amp;ll=51.381719,-2.354314&amp;spn=0.010071,0.027874&amp;view=map&amp;cid=11373633422134346688&amp;t=m&amp;z=16&amp;vpsrc=0">View on Google maps</a></p>
    </div><!--Box 1-->

    <div class="box-3 response-width">
        <h3>Advertise Your Business</h3>
        <p class="box-3">Advertise here for a very reasonable rate. Box ads and supporting info pages available. Email us to find out more.</p>
        <p><a href="mailto:organiser@bath-squash-league.co.uk?subject=Advertise my Business"><strong>Enquire ></strong></a></p>
    </div>

    <div class="box-5 response-width">
        <h3><a href="ht response-widthtp://www.rjcoaching.co.uk">Squash coaching sessions<br />
        </a></h3>
        <p>RJCoaching offers Squash and Racketball coaching for all ages and abilities.</p>
        <p>To book, call Rich Colman <br />
            on 07752 901885.</p>
        <p><a href="http://www.rjcoaching.co.uk"><strong>Find out more ></strong></a></p>
    </div><!--Box 2-->

    <div class="box-2 response-width">
        <h3><a href="squash-club.html">Sunday Squash Club</a></h3>
        <p>Runs from the Bath Sports & Leisure Centre on Sundays from 6.00 to 7.20pm</p>
        <p>All standards welcome</p>
        <p><a href="squash-club.html"><strong>Read more ></strong></a></p>
    </div><!--Box 2-->

    <div class="box-4 response-width">
        <h3><a href="massage-therapy.html">Owen Morgan Massage Therapy</a></h3>
        <h4><strong>Sports Massage &amp; Kinesiology Treatment</strong></h4>
        <p>Fully qualified Sports Massage<br />
            Therapy in your own home</p>
        <p><strong>Tel: 07806 558 078</strong></p>
        <p><strong><a href="massage-therapy.html">Read more &gt;</a></strong></p>
    </div><!--Box 4-->

    <div class="box-8 response-width">
        <h3>New season T-shirts <br />
            &amp; Hoodies available</h3>
        <p>T-shirts - £10 each <br />
            Hoodies - £20 each<br />
            S, M, L, &amp; XL
            <br />
            Email us to order<br />
        </p>
        <p><strong><a href="mailto:organiser@bath-squash-league.co.uk">Email us  &gt;						</a></strong></p>
    </div><!--Box 8-->

    <div class="box-6 response-width">
        <h3><a href="stonier-hobbs.html">Stonier Hobbs Residential</a></h3>
        <p>We are a wholly independent Estate Agents<br />
            based in the centre of the Georgian<br />
            City of Bath.</p>
        <p><strong>Tel: 01225 463322</strong></p>
        <p><strong><a href="stonier-hobbs.html">Read more &gt;</a></strong></p>
    </div><!--Box 6-->

    <div class="box-7 response-width">
        <p><strong><a href="http://www.bluecatdesign.co.uk" id="bd-logo">FREELANCE GRAPHIC DESIGN &amp; ARTWORK PRODUCTION SERVICES </a></strong></p>
    </div><!--Box 7-->

    <div class="box-9 response-width">
        <h3><a href="http://pickyaboutprint.com">Picky About Print</a></h3>
        <p>0117 914 4968</p>
        <p><strong><a href="mailto:hello@pickaboutprint.com">hello@pickaboutprint.com</a></strong> </p>
        <p><a href="http://pickyaboutprint.com">pickyaboutprint.com</a></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div><!--Box 9-->



</div>
<style>

    #right-col {
        font-family: Arial, Helvetica, sans-serif !important;
    }

    .twitter {
        margin-bottom: 10px !important;
    }

    #twitter-btn {
        margin-top:10px;
    }

    #right-col div.box-1 {
        background: url(/statics/images/ad1-background.jpg)no-repeat scroll right top transparent; width: 304px; height: 139px; padding: 0 0 10px 0; margin: 0 0 10px -2px;
    }

    #right-col div.box-1 h3 {
        font-size: 18px; color: #333333; font-weight: bold; text-indent: 20px; padding: 20px 0 3px 0;
    }

    #right-col div.box-1 p {
        font-size: 13px; color: #333333; text-indent: 20px; padding: 4px 0 0 0;
    }

    #right-col div.box-1 a {
        color: #7fb22a;
    }

    #right-col div.box-2 {
        background: url(/statics/images/ad2-background.jpg) no-repeat scroll right top transparent; width: 302px; height: 161px; padding: 0 0 10px 0; margin-bottom: 10px;
    }

    #right-col div.box-2 h3 {
        font-size: 18px; color: #333333; font-weight: bold; text-indent: 20px; padding: 20px 0 3px 0;
    }

    #right-col div.box-2 p {
        font-size: 13px; color: #ffffff; padding: 4px 0 0 0; width: 180px; margin: 0 0 0 20px;
    }

    #right-col div.box-3 {
        background: url(/statics/images/advertise-background.jpg) no-repeat scroll right top transparent; width: 304px; height: 139px; padding: 0 0 10px 0; margin: 0 0 10px -2px;
    }

    #right-col div.box-3 h3 {
        font-size: 18px; color: #333333; font-weight: bold; text-indent: 20px; padding: 20px 0 3px 0;
    }

    #right-col div.box-3 p {
        font-size: 13px; color: #333333; padding: 4px 0 0 0; width: 200px; margin: 0 0 0 20px;
    }

    #right-col div.box-4 {
        background: url(/statics/images/ad4-background.jpg) no-repeat scroll right top transparent; width: 302px; height: 161px; padding: 0 0 10px 0; margin-bottom: 10px;
    }

    #right-col div.box-4 h3 {
        font-size: 17px; color: #333333; font-weight: bold; padding: 20px 10px 3px 20px;
    }

    #right-col div.box-4 h4 {
        font-size: 13px; color: #333333; font-weight: bold; padding: 0px 10px 8px 20px;
    }

    #right-col div.box-4 p {
        font-size: 13px; color: #ffffff; padding: 4px 0 0 0;width: 304px;
        margin: 0 0 0 20px;
    }
    #right-col div.box-4 a {
        color: #333333;
    }

    #right-col div.box-5 {
        background: url(/statics/images/coaching-ad.jpg) no-repeat scroll right top transparent; width: 302px; height: 161px; padding: 0 0 10px 0; margin-bottom: 10px;
    }

    #right-col div.box-5 h3 {
        font-size: 18px; color: #ffffff; font-weight: bold; padding: 15px 0 3px 0; margin:0 0 0 20px;
    }

    #right-col div.box-5 p {
        font-size: 13px; color: #ffffff; padding: 4px 0 0 0; width: 260px; margin: 0 0 0 20px;
    }

    #right-col div.box-5 a {
        color: #77defe;
    }

    #right-col div.box-6 {
        background: url(/statics/images/stonier-hobbs-ad.png) no-repeat scroll right top transparent; width: 302px; height: 161px; padding: 0 0 10px 0; margin-bottom: 10px;
    }

    #right-col div.box-6 h3 {
        font-size: 17px; color: #ffffff; font-weight: bold; padding: 20px 10px 3px 20px;
    }

    #right-col div.box-6 h4 {
        font-size: 13px; color: #ffffff; font-weight: bold; padding: 0px 10px 8px 20px;
    }

    #right-col div.box-6 p {
        font-size: 13px;
        color: #ffffff;
        padding: 4px 0 0 0;
        width: 304px;
        margin: 0 0 0 20px;
    }

    #right-col div.box-6 a {
        color: #a4a4bb;
    }

    #right-col div.box-7 {
        width: 302px; height: 161px;
        padding-bottom:10px;
        margin-bottom:10px;
    }

    #right-col div.box-7 a {
        color: #a4a4bb;
        font-size: 12px;
        text-align:center;
        width: 304px;
    }

    #bd-logo {
        background-image:url(/statics/images/bluecat-design-ad.png);
        display:block;
        height:161px;
        width:304px;
        overflow:hidden;
        text-indent:100%;
        white-space:nowrap;
    }

    #right-col div.box-8 {
        background: url(/statics/images/t-shirt-ad.jpg) no-repeat scroll right top transparent; width: 302px; height: 161px; padding: 0 0 10px 0; margin-bottom: 10px;
    }

    #right-col div.box-8 h3 {
        font-size: 17px; color: #000000; font-weight: bold; padding: 20px 10px 3px 20px; margin-bottom: 10px;
    }

    #right-col div.box-8 h4 {
        font-size: 13px; color: #000000; font-weight: bold; padding: 0px 10px 8px 20px; margin-bottom: 10px;
    }

    #right-col div.box-8 p {
        font-size: 13px;
        color: #ffffff;
        padding: 4px 0 3px 0;
        width: 304px;
        margin: 0 0 0 20px;
    }

    #right-col div.box-8 a {
        color: #000000;
    }

    #right-col div.box-9 {
        background: url(/statics/images/picky-ad-small.jpg) no-repeat scroll right top transparent; width: 302px; height: 87px; padding: 0 0 10px 0; margin:0 0 10px 0;
    }

    #right-col div.box-9 h3 {
        font-size: 17px; color: #e4027f; font-weight: bold; padding: 10px 10px 4px 10px;
    }

    #right-col div.box-9 p {
        font-size: 11px;
        color: #333333;
        padding: 0 0 0 0;
        width: 270px;
        margin: 0 0 1px 10px;
    }

    #right-col div.box-9 a {
        color: #e4027f;
    }



    #right-col p, #right-col h1, #right-col h2, #right-col h3, #right-col h4, #right-col h5, #right-col ul, #right-col li, #right-col img, #right-col div {
        border: 0 none;
        margin: 0;
        line-height: 100%;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0px;
        padding-left: 0;
    }

    #right-col h1, #right-col h2, #right-col h3, #right-col h4, #right-col h5, #right-col h6 {
        text-transform: none;
        font-family: Arial, Helvetica, sans-serif !important;
        font-weight: 700;
        letter-spacing: 0px;
    }
</style>
