<h2>Bristol &amp; District Squash League</h2>
<p>The <a href="http://www.badsquash.co.uk">Bristol and District Squash League</a>&nbsp; (aka BAD squash)&nbsp;is a large and&nbsp;highly competitive league that covers Bristol and the surrounding area.<br>
   <br>
   Bath Leisure's&nbsp;squash team&nbsp;are currently playing in&nbsp;division 6 for the current spring round. In our division there are 3 Bristol teams as well as one from Hutton Moor and one from Weston-Super-Mare. We have 10-12 players&nbsp;in the squad who&nbsp;have played already this season&nbsp;and are&nbsp;always on the look out for new team members. The team is made up of players&nbsp;from the top 3 boxes, but If we can get enough interest, we'd like to set up a second team. There are five players in a team and every player simply plays a match against their opposite number. In the autumn and spring leagues we have dinner after the match with our opposition. Overall we play 20-30 matches per year.
</p>
<p>If you're interested in joining the team and you're in the top third of the league, email <a href="mailto:robandharriet@pagnamenta.orangehome.co.uk">Rob Pagnamenta</a> or <a href="mailto:organiser@bath-squash-league.co.uk">Nick Shearn</a>&nbsp;for more information.</p>
<p><img class="response-width" alt="The Bath Leisure Squash team Feb 2016" height="315" src="/statics/images/squash-team-feb16.jpg" width="420"></p>
<p><em>The team Feb 2016, Left&nbsp;to right: Clinton Lucas, Andrew Mortimer, Andy Stacey, Nick Shearn, Rob Pagnamenta (captain)</em></p>
<h3>Mixed Spring League 2015/16 Fixture list (Division 6)</h3>
<table class="table table-striped" border="0" cellpadding="5" cellspacing="0" class="table-txt" id="faq-table" width="420">
   <tbody>
      <tr>
         <td align="center" class="table-txt"><strong>DATE</strong></td>
         <td align="center" class="table-txt"><strong>H/A</strong></td>
         <td align="center"><strong>OPPOSITION</strong></td>
         <td align="center"><strong>W/L</strong></td>
         <td align="center"><strong>RESULT</strong></td>
      </tr>
      <tr>
         <td align="center">13/01/16</td>
         <td align="center">A</td>
         <td align="left">Redland Squash Lions Winter E</td>
         <td align="center" class="table-txt">L</td>
         <td align="center">17-9</td>
      </tr>
      <tr>
         <td align="center">20/01/16</td>
         <td align="center">H</td>
         <td align="left">Kingswood A</td>
         <td align="center" class="table-txt">W</td>
         <td align="center">14-8</td>
      </tr>
      <tr>
         <td align="center">27/01/16</td>
         <td align="center">A</td>
         <td align="left">David Lloyd F</td>
         <td align="center">L</td>
         <td align="center">14-8</td>
      </tr>
      <tr>
         <td align="center">03/02/16</td>
         <td align="center">H</td>
         <td align="left">Hutton Moor A</td>
         <td align="center">W</td>
         <td align="center">13-7</td>
      </tr>
      <tr>
         <td align="center">10/02/16</td>
         <td align="center">A</td>
         <td align="left">Weston Squash &amp; Racketball Club C</td>
         <td align="center">L</td>
         <td align="center">13-7</td>
      </tr>
      <tr>
         <td align="center">17/02/16</td>
         <td align="center">H</td>
         <td align="left">Redland Squash Lions Winter E</td>
         <td align="center">L</td>
         <td align="center">3-18</td>
      </tr>
      <tr>
         <td align="center">24/02/16</td>
         <td align="center">A</td>
         <td align="left">Kingswood A</td>
         <td align="center">L</td>
         <td align="center">15-7</td>
      </tr>
      <tr>
         <td align="center">02/03/16</td>
         <td align="center">H</td>
         <td align="left">David Lloyd F</td>
         <td align="center">W</td>
         <td align="center">13-7</td>
      </tr>
      <tr>
         <td align="center">09/03/16</td>
         <td align="center">A</td>
         <td align="left">Hutton Moor A</td>
         <td align="center">W</td>
         <td align="center">16-3</td>
      </tr>
      <tr>
         <td align="center">16/03/16</td>
         <td align="center">H</td>
         <td align="left">Weston Squash &amp; Racketball Club C</td>
         <td align="center">L</td>
         <td align="center">10-13</td>
      </tr>
      <tr>
         <td align="center">&nbsp;</td>
         <td align="center">&nbsp;</td>
         <td align="left">&nbsp;</td>
         <td align="center">&nbsp;</td>
         <td align="center">&nbsp;</td>
      </tr>
   </tbody>
</table>
<h3>Mixed Autumn League 2015/16 Fixture list (Division 4)</h3>
<table class="table table-striped" border="0" cellpadding="5" cellspacing="0" class="table-txt" id="faq-table" width="420">
   <tbody>
      <tr>
         <td align="center" class="table-txt" width="70"><strong>DATE</strong></td>
         <td align="center" class="table-txt" width="30"><strong>H/A</strong></td>
         <td align="center" width="200"><strong>OPPOSITION</strong></td>
         <td align="center" width="30"><strong>W/L</strong></td>
         <td align="center" width="70"><strong>RESULT</strong></td>
      </tr>
      <tr>
         <td align="center">14/10/15</td>
         <td align="center">H</td>
         <td align="left">Whitchurch Imperial A</td>
         <td align="center" class="table-txt">W</td>
         <td align="center">18-4</td>
      </tr>
      <tr>
         <td align="center">21/10/15</td>
         <td align="center">H</td>
         <td align="left">Lansdown D</td>
         <td align="center">L</td>
         <td align="center">6-17</td>
      </tr>
      <tr>
         <td align="center">28/10/15</td>
         <td align="center">A</td>
         <td align="left">Bath University 3</td>
         <td align="center">L</td>
         <td align="center">3-19</td>
      </tr>
      <tr>
         <td align="center">04/11/15</td>
         <td align="center">H</td>
         <td align="left">Gordano B</td>
         <td align="center">L</td>
         <td align="center">10-14</td>
      </tr>
      <tr>
         <td align="center">18/11/15</td>
         <td align="center">A</td>
         <td align="left">Whitchurch Imperial A</td>
         <td align="center">L</td>
         <td align="center">5-16</td>
      </tr>
      <tr>
         <td align="center">25/11/15</td>
         <td align="center">A</td>
         <td align="left">Lansdown D</td>
         <td align="center">L</td>
         <td align="center">4-16</td>
      </tr>
      <tr>
         <td align="center">02/12/15</td>
         <td align="center">H</td>
         <td align="left">Bath University 3</td>
         <td align="center">L</td>
         <td align="center">0-19</td>
      </tr>
      <tr>
         <td align="center">09/12/15</td>
         <td align="center">A</td>
         <td align="left">Gordano B</td>
         <td align="center">L</td>
         <td align="center">8-16</td>
      </tr>
      <tr>
         <td align="center">&nbsp;</td>
         <td align="center">&nbsp;</td>
         <td align="left">&nbsp;</td>
         <td align="center">&nbsp;</td>
         <td align="center">&nbsp;</td>
      </tr>
   </tbody>
</table>
<p><img class="response-width" alt="The Bath Leisure Squash team Nov 2014" height="315" src="/statics/images/bath-leisure-squash-team.jpg" width="420"></p>
<p><em>The team Nov 2014, Left&nbsp;to right: David Rey, Andy Ottaway, Andy Stacey, Nick Shearn, Rob Pagnamenta (captain)</em></p>
<h3>Mixed Autumn League 2014/15 Fixture list (Division 2B)</h3>
<table class="table table-striped" border="0" cellpadding="5" cellspacing="0" class="table-txt" id="faq-table" width="420">
   <tbody>
      <tr>
         <td align="center" class="table-txt" width="70"><strong>DATE</strong></td>
         <td align="center" class="table-txt" width="30"><strong>H/A</strong></td>
         <td align="center" width="200"><strong>OPPOSITION</strong></td>
         <td align="center" width="30"><strong>W/L</strong></td>
         <td align="center" width="70"><strong>RESULT</strong></td>
      </tr>
      <tr>
         <td align="center">08/10/14</td>
         <td align="center">H</td>
         <td align="left">Redwood Phoenix B</td>
         <td align="center" class="table-txt">W</td>
         <td align="center">19-3</td>
      </tr>
      <tr>
         <td align="center">15/10/14</td>
         <td align="center">H</td>
         <td align="left">Whitchurch Imperial A</td>
         <td align="center">W</td>
         <td align="center">18-6</td>
      </tr>
      <tr>
         <td align="center">23/10/14</td>
         <td align="center">A</td>
         <td align="left">BLTSC Lions Winter D</td>
         <td align="center">L</td>
         <td align="center">6-16</td>
      </tr>
      <tr>
         <td align="center">29/10/14</td>
         <td align="center">H</td>
         <td align="left">Bath University 2</td>
         <td align="center">L</td>
         <td align="center">6-14</td>
      </tr>
      <tr>
         <td align="center">05/11/14</td>
         <td align="center">A</td>
         <td align="left">Bradley Stoke Squash Club A</td>
         <td align="center">L</td>
         <td align="center">7-16</td>
      </tr>
      <tr>
         <td align="center">12/11/14</td>
         <td align="center">A</td>
         <td align="left">Redwood Phoenix B</td>
         <td align="center">W</td>
         <td align="center">19-4</td>
      </tr>
      <tr>
         <td align="center">19/11/14</td>
         <td align="center">A</td>
         <td align="left">Whitchurch Imperial A</td>
         <td align="center">W</td>
         <td align="center">16-4</td>
      </tr>
      <tr>
         <td align="center">26/11/14</td>
         <td align="center">H</td>
         <td align="left">BLTSC Lions Winter D</td>
         <td align="center">W</td>
         <td align="center">19-1</td>
      </tr>
      <tr>
         <td align="center">02/12/14</td>
         <td align="center">A</td>
         <td align="left">Bath University 2</td>
         <td align="center">L</td>
         <td align="center">7-19</td>
      </tr>
      <tr>
         <td align="center">10/12/14</td>
         <td align="center">H</td>
         <td align="left">Bradley Stoke Squash Club A</td>
         <td align="center">W</td>
         <td align="center">15-8</td>
      </tr>
   </tbody>
</table>
<h3>Mixed Spring League 2014/15 Fixture list (Division 2C)</h3>
<table class="table table-striped" border="0" cellpadding="5" cellspacing="0" class="table-txt" id="faq-table2" width="420">
   <tbody>
      <tr>
         <td align="center" class="table-txt"><strong>DATE</strong></td>
         <td align="center" class="table-txt"><strong>H/A</strong></td>
         <td align="center"><strong>OPPOSITION</strong></td>
         <td align="center"><strong>W/L</strong></td>
         <td align="center"><strong>RESULT</strong></td>
      </tr>
      <tr>
         <td align="center">14/01/15</td>
         <td align="center">H</td>
         <td align="left">Gordano B</td>
         <td align="center" class="table-txt">W</td>
         <td align="center">18-3</td>
      </tr>
      <tr>
         <td align="center">28/01/15</td>
         <td align="center">A</td>
         <td align="left">Shepton Mallet B</td>
         <td align="center">L</td>
         <td align="center">4-19</td>
      </tr>
      <tr>
         <td align="center">04/02/15</td>
         <td align="center">H</td>
         <td align="left">Bath University 3</td>
         <td align="center">L</td>
         <td align="center">10-17</td>
      </tr>
      <tr>
         <td align="center">11/02/15</td>
         <td align="center">A</td>
         <td align="left">Hutton Moor A</td>
         <td align="center">W</td>
         <td align="center">12-6</td>
      </tr>
      <tr>
         <td align="center">18/02/15</td>
         <td align="center">A</td>
         <td align="left">Gordano B</td>
         <td align="center">W</td>
         <td align="center">19-3</td>
      </tr>
      <tr>
         <td align="center">24/02/15</td>
         <td align="center">A</td>
         <td align="left">Bath University 3</td>
         <td align="center">W</td>
         <td align="center">18-5</td>
      </tr>
      <tr>
         <td align="center">04/03/15</td>
         <td align="center">H</td>
         <td align="left">Shepton Mallet B</td>
         <td align="center">L</td>
         <td align="center">5-16</td>
      </tr>
      <tr>
         <td align="center">11/03/15</td>
         <td align="center">H</td>
         <td align="left">Burnham-On-Sea Squash A</td>
         <td align="center">L</td>
         <td align="center">15-7</td>
      </tr>
      <tr>
         <td align="center">18/03/15</td>
         <td align="center">H</td>
         <td align="left">Hutton Moor A</td>
         <td align="center">W</td>
         <td align="center">17-6</td>
      </tr>
      <tr>
         <td align="center">26/03/15</td>
         <td align="center">A</td>
         <td align="left">Burnham-On-Sea Squash A</td>
         <td align="center">L</td>
         <td align="center">9-15</td>
      </tr>
   </tbody>
</table>
<p>&nbsp;</p>
<h3>Current team members:</h3>
<p>Rob Pagnamenta (Captain), Nick Shearn, Andrew Mortimer, Andy Stacey,&nbsp;Martin Vaughan, Luke Harper, Terry Siau, Howard Pothecary, Clinton Lucas, Chester Barnes, Marcus Green, Chris Curtain.</p>
<p>&nbsp;</p>
</div>
<div id="round-robins" class="home-group">
<h2>Round-robin Tournaments            </h2>
<p>Bath Squash League round-robin tournaments are intended as a fun addition to your league matches. They're not compulsory but are a way of getting together with your box members socially as a group and totalling scores over a pint or two at the pub afterwards!</p>
<h3>What is a Round-robin?</h3>
<p>Essentially, in a round-robin tournament, every participant plays every other participant once. Scores are recorded and the player with the most points wins.</p>
<h3>How does it work?</h3>
<p>At the start of each league round, players must decide between them if they would like to play a round-robin during the league round. Tournaments can be played with 4, 5, 6 or 7 players. If enough players agree to play, players must book the required courts and share the cost between each other.</p>
<p>Games are played up to 21 points using the Point-a-rally system (PARS) for a set number of minutes (see score sheet). After the set period, play must stop, scores are recorded and the next games begin. Once everyone has played each other, scores are totalled over a pint at the pub (Lambrettas or <a href="http://www.royaloak-bath.co.uk" target="_blank">The Royal Oak</a> are probably the closest).</p>
<h3>How many courts do I need to book?</h3>
<p>This depends on how many players there are…</p>
<p>4 players - 2 courts for a single 45 min session £12.60 | £3.15 ea<br>
   5 players - 2 courts for a double session £25.20 | £5.04 ea<br>
   6 players - 2 courts for a double session £25.20 | £4.20 ea<br>
   7 players - 3 courts for a double session £37.80 | £5.40 ea
</p>
<h3>How do I book?</h3>
<p>The best way to book is to call Jean Dugmore at the Leisure Centre directly on 01225 486904 or email her at <a href="mailto:Jean.Dugmore@aquaterra.org">Jean.Dugmore@aquaterra.org</a>. This way one person can book all courts required. It's recommended that you book at least 12 days in advance to secure the booking.</p>
<p>Alternatively you can book as usual at reception though you can't book more than one court at a time this way so another player/s would also have to book a court for the same time.</p>
<h3>Score / instruction sheets</h3>
<p>The printable score/instruction sheets below explain the tournament rules and can be used during tournaments  to record scores.</p>
<h4><a href="/statics/media/score-sheet-4-player.pdf" target="_blank">Score sheet for 4 players</a></h4>
<h4><a href="/statics/media/score-sheet-5-player.pdf" target="_blank">Score sheet for 5 players</a></h4>
<h4><a href="/statics/media/score-sheet-6-player.pdf" target="_blank">Score sheet for 6 players</a></h4>
<h4><a href="/statics/media/score-sheet-7-player.pdf" target="_blank">Score sheet for 7 players</a></h4>