<h2>Frequently asked questions</h2>

<h3><a href="#1">Where does the league take place?</a></h3>

<h3><a href="#2">How much does it cost?</a></h3>

<h3><a href="#3">So I&#39;ve filled in the joining form. What happens next?</a></h3>

<h3><a href="#4">How do I arrange my matches?</a></h3>

<h3><a href="#5">Do you use the PAR (Point a Rally) American rules which were implemented in April 2009?</a></h3>

<h3><a href="#6">What happens if I can&#39;t play all my games during a round?</a></h3>

<h3><a href="#7">What happens if I&#39;m injured?</a></h3>

<h3><a href="#8">What type of ball should I play with?</a></h3>

<h3><a href="#9">What&#39;s the username and password for the tables page?</a></h3>

<h3><a href="#10">I&#39;m having problems contacting a player. What should I do?</a></h3>

<h3><a href="#11">The score/join form is no longer accepting submissions. What should I do?</a></h3>

<h3><a href="#12">I&#39;ve submitted my score but why is it not showing on the web page</a></h3>
</div>

<h3><a id="1" name="1"></a>Where does the league take place?</h3>

<p>All games are played at the Bath Sports &amp; Leisure Centre on North Parade Road.</p>

<h4><a href="http://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Bath+Sports+and+Leisure+Centre&amp;aq=&amp;sll=51.382602,-2.353477&amp;sspn=0.010406,0.027874&amp;ie=UTF8&amp;hq=Bath+Sports+and+Leisure+Centre&amp;hnear=&amp;z=15" target="_blank">View on Google maps &gt;</a></h4>

<p><a href="faq.html">TOP</a></p>

<h3><a id="2" name="2"></a>How much does it cost?</h3>

<p>The league is free to join and the only cost involved is your court booking fee, however, we would really appreciate a donation to help cover our web hosting and administration costs. <a href="donate.html">Visit the donate page</a> to make a donation via PayPal.<br />
<br />
Leisure Cards are available at the Leisure Centre which entitle you to concessionary members rates on squash courts and other facilities at the Leisure Centre including exercise classes, the sauna suite, the zany zone, court bookings, table tennis, swimming and the gym. Call the Leisure Centre on 01225 486905 or ask at reception for more details.<br />
<br />
Court fees for a 40 min session are as follows:</p>

<h4>Members</h4>

<p>Peak (Monday - Friday 1 - 1.45pm &amp; 4.45pm to close) - &pound;6.30<br />
Off peak (Monday - Friday outside of peak times) - &pound;5<br />
Super off peak (all weekend) - &pound;3.30</p>

<h4><strong>Non members</strong></h4>

<p>Peak (Monday - Friday 1 - 1.45pm &amp; 4.45pm to close) - &pound;7.90<br />
Off peak (Monday - Friday outside of peak times) - &pound;6.20<br />
Super off peak (all weekend) - &pound;4</p>

<h4>Court times</h4>

<p>Week days: 7am - 10pm<br />
Saturdays: 8.30am - 7.45pm<br />
Sundays: 8.30am - 8.15pm<br />
<br />
Last bookings are 45 minutes before closing.</p>

<p><a href="faq.html">TOP</a></p>

<h3><a id="3" name="3"></a>So I&#39;ve filled in the joining form. What happens next?</h3>

<p>You will be entered into the next round and will receive a welcoming email when the round commences. The email includes player contact numbers and the login details for the <a href="protected/tables.html">tables page</a> which includes player email links. You will need to arrange your own games with each player in your division and <a href="protected/submit-score.html">add your scores via the website</a>. Scores are updated every few days so don&#39;t worry if your score doesn&#39;t appear on the scores page straight away.</p>

<p>New players usually start in the &#39;New Players&#39; division and work their way up the tables. We try and fast track players that show particular talent though this isn&#39;t always possible. You can see the current league status and round starting dates on the <a href="http://www.bath-squash-league.co.uk/index.html">home page</a> or the <a href="http://www.bath-squash-league.co.uk/calendar.html">league calendar</a>.</p>

<p><a href="faq.html">TOP</a></p>

<h3><a id="4" name="4"></a>How do I arrange my matches?</h3>

<p>Players are responsible for contacting the 2 or 3 players below them, depending on how many players are in their box. See the table below.</p>

<table border="0" cellpadding="5" cellspacing="0" class="table-txt" id="faq-table" width="280">
	<tbody>
		<tr>
			<td align="center" class="table-txt" colspan="4" valign="middle"><span class="table-txt"><strong>SYSTEM FOR ARRANGING MATCHES</strong></span></td>
		</tr>
		<tr>
			<td align="center" class="table-txt" width="70"><strong>PLAYER</strong></td>
			<td align="center" class="table-txt" width="70"><strong><span class="table-txt">5 PLAYER BOX</span></strong></td>
			<td align="center" width="70"><strong><span class="table-txt">6 PLAYER BOX</span></strong></td>
			<td align="center" width="70"><strong><span class="table-txt">7 PLAYER BOX</span></strong></td>
		</tr>
		<tr>
			<td align="center"><strong><span class="table-txt">1</span></strong></td>
			<td align="center"><span class="table-txt">2,3</span></td>
			<td align="center"><span class="table-txt">2,3</span></td>
			<td align="center"><span class="table-txt">2,3,4</span></td>
		</tr>
		<tr>
			<td align="center"><strong><span class="table-txt">2</span></strong></td>
			<td align="center"><span class="table-txt">3,4</span></td>
			<td align="center"><span class="table-txt">3,4</span></td>
			<td align="center"><span class="table-txt">3,4,5</span></td>
		</tr>
		<tr>
			<td align="center"><strong><span class="table-txt">3</span></strong></td>
			<td align="center"><span class="table-txt">4,5</span></td>
			<td align="center"><span class="table-txt">4,5</span></td>
			<td align="center"><span class="table-txt">4,5,6</span></td>
		</tr>
		<tr>
			<td align="center"><strong><span class="table-txt">4</span></strong></td>
			<td align="center"><span class="table-txt">5,1</span></td>
			<td align="center"><span class="table-txt">5,6,1</span></td>
			<td align="center"><span class="table-txt">5,6,7</span></td>
		</tr>
		<tr>
			<td align="center"><strong><span class="table-txt">5</span></strong></td>
			<td align="center"><span class="table-txt">1,2</span></td>
			<td align="center"><span class="table-txt">6,1,2</span></td>
			<td align="center"><span class="table-txt">6,7,1</span></td>
		</tr>
		<tr>
			<td align="center"><strong><span class="table-txt">6</span></strong></td>
			<td align="center">&nbsp;</td>
			<td align="center"><span class="table-txt">1,2,3</span></td>
			<td align="center"><span class="table-txt">7,1,2</span></td>
		</tr>
		<tr>
			<td align="center"><strong><span class="table-txt">7</span></strong></td>
			<td align="center">&nbsp;</td>
			<td align="center">&nbsp;</td>
			<td align="center"><span class="table-txt">1,2,3</span></td>
		</tr>
	</tbody>
</table>

<p>You can contact players by using the mail links on the <a href="protected/tables.html">tables page</a> (click on a players name). Alternatively, all player contact numbers are emailed to league members at the start of each round. If you haven&#39;t received them <a href="mailto:organiser@bath-squash-league.co.uk">drop us an email</a> and we will email them to you.</p>

<p><a href="faq.html">TOP</a></p>

<h3><a id="5" name="5"></a>Do you use the PAR (Point a Rally) American rules which were implemented in April 2009?</h3>

<p>No. League members voted in favour of sticking with the &#39;Server only Scores&#39; English scoring system where games are played to 9 points and not 11. Players can use the new PAR system if they wish, though this needs to be agreed between both players before the match commences.</p>

<h4><a href="http://en.wikipedia.org/wiki/Squash_(sport)" target="_blank">More information on the two scoring systems &gt;</a></h4>

<p><a href="faq.html">TOP</a></p>

<h3><a id="6" name="7"></a>What happens if I can&#39;t play all my games during a round?</h3>

<p>If the league is to run successfully all league members must play as many games as possible during each round. Consistently inactive players will be removed from the league, so do <a href="mailto:organiser@bath-squash-league.co.uk">drop us an email</a> if you have a genuine reason why you can&#39;t play. Players who don&#39;t play any of their games in a round and don&#39;t get in contact are automatically removed from the tables.</p>

<p><a href="faq.html">TOP</a></p>

<h3><a id="7" name="7"></a>What happens if I&#39;m injured?</h3>

<p>If you&#39;re injured and are unable to play, please <a href="mailto:organiser@bath-squash-league.co.uk">drop us an email</a> so we can mark you as injured on the tables. You will remain marked as injured until you notify us when you&#39;re able to play again. If you haven&#39;t played many of your allotted matches at time of injury and plan on not returning to the current round, your match scores for that round will be wiped. If you have played most of your matches at time of injury, your current match scores will remain on the tables.</p>

<p>A player usually drops a division on returning from an injury. In the interest of the league, players who don&#39;t play any games during a round and don&#39;t get in touch are automatically removed from the tables.</p>

<p><a href="faq.html">TOP</a></p>

<h3><a id="8" name="8"></a>What type of ball should I play with?</h3>

<p>All league matches are to be played with a double yellow spot ball unless both players agree to use a different type.</p>

<p><a href="faq.html">TOP</a></p>

<h3><a id="9" name="9"></a>What&#39;s the username and password for the tables page?</h3>

<p>The members login info is included in the league welcoming email which is automatically sent to you when you fill in the joining form. If you have not received this email, it may be in your spam folder. They are also sent out via email to every player along with player contact details at the start of each round. <a href="http://www.bath-squash-league.co.uk/calendar.html">Check the calendar for round commencement dates</a>.</p>

<p><a href="faq.html">TOP</a></p>

<h3><a id="10" name="10"></a>I&#39;m having problems contacting a player. What should I do?</h3>

<p>If you&#39;ve tried to contact a player several times and had no response, <a href="mailto:organiser@bath-squash-league.co.uk">drop us an email</a> and we will try and contact the player. If there is still no response, you will either be awarded a walk-over or the offending player will be removed from the tables, depending on the circumstances.</p>

<p><a href="faq.html">TOP</a></p>

<h3><a id="11" name="11"></a>The score/join form is &#39;no longer accepting submissions&#39;. What should I do?</h3>

<p>Our forms have a monthly limit on them. This limit is sometimes reached before the end of each month and this prevents the forms from working. You will know this has happened when the score/join page says &#39;Sorry, but this form is no longer accepting submissions&#39;. If you are looking to submit a score, please <a href="mailto:organiser@bath-squash-league.co.uk?subject=Score%20submission">contact us via email</a> stating your name, your opponents name, division and score. If you are looking to join, please <a href="mailto:organiser@bath-squash-league.co.uk?subject=Joining%20the%20league">contact us via email</a> stating your name, phone number and email address and we will be in touch.</p>

<p><a href="faq.html">TOP</a></p>

<h3><a id="12" name="12"></a>I&#39;ve submitted my score but why is it not showing on the webpage?</h3>

<p>The score system is not automatic and we have to enter scores manually so scores won&#39;t appear straight away once you&#39;ve submitted them. We tend to update the scores 2 or 3 times a week.</p>

<p><a href="faq.html">TOP</a></p>

