<h2>Useful links</h2>
<p class="body">
   <a href="rules.html">Bath Squash League rules</a> - Rules for this particular league.
</p>
<p class="body">
   <a href="http://www.bathsquash.co.uk" target="_blank">www.bathsquash.co.uk</a> - The lunchtime squash league, also runs from Bath Sports &amp; Leisure Centre.
</p>
<p class="body">
   <a href="http://www.aquaterra.org" target="_blank">www.aquaterra.org</a> - You can book games online here.
</p>
<p class="body">
   <a href="http://www.squashskills.com" target="_blank">www.squashskills.com</a> - Squashskills is brought to you by Peter Nicol and Jethro Binns. It is an online coaching resource to make you a better squash player. Join the revolution.
</p>
<p class="body">
   <a href="http://www.worldsquash.org" target="_blank">www.worldsquash.org</a> - Official site of the World Squash Federation. Provides results, calendar, history, contacts, game rules, court specifications and ranking lists.
</p>
<p class="body">
   <a href="http://www.squashplayer.co.uk" target="_blank">www.squashplayer.co.uk</a> - News, reports, tournament coverage and results, articles and stories from the world of squash.
</p>
<p class="body">
   <a href="http://www.psasquashtv.com">www.psasquashtv.com</a> - Squash TV is the official live and video on demand website of the Professional Squash Association [PSA]
</p>
<p class="body">
   <a href="http://www.englandsquashandracketball.com">www.englandsquashandracketball.com</a> - Includes news, events calendar, history, rankings, juniors, development, coaching and official's resources, and links. Formerly, The Squash Rackets Association.
</p>
<p>&nbsp;
</p>