<h2>Round-robin Tournaments            </h2>
            <p>Bath Squash League round-robin tournaments are intended as a fun addition to your league matches. They're not compulsory but are a way of getting together with your box members socially as a group and totalling scores over a pint or two at the pub afterwards!</p>
            <h3>What is a Round-robin?</h3>
<p>Essentially, in a round-robin tournament, every participant plays every other participant once. Scores are recorded and the player with the most points wins.</p>
<h3>How does it work?</h3>
<p>At the start of each league round, players must decide between them if they would like to play a round-robin during the league round. Tournaments can be played with 4, 5, 6 or 7 players. If enough players agree to play, players must book the required courts and share the cost between each other.</p>
<p>Games are played up to 21 points using the Point-a-rally system (PARS) for a set number of minutes (see score sheet). After the set period, play must stop, scores are recorded and the next games begin. Once everyone has played each other, scores are totalled over a pint at the pub (Lambrettas or <a href="http://www.royaloak-bath.co.uk" target="_blank">The Royal Oak</a> are probably the closest).</p>
<h3>How many courts do I need to book?</h3>
<p>This depends on how many players there are…</p>
<p>4 players - 2 courts for a single 45 min session £12.60 | £3.15 ea<br />
  5 players - 2 courts for a double session £25.20 | £5.04 ea<br />
  6 players - 2 courts for a double session £25.20 | £4.20 ea<br />
  7 players - 3 courts for a double session £37.80 | £5.40 ea</p>
<h3>How do I book?</h3>
<p>The best way to book is to call Jean Dugmore at the Leisure Centre directly on 01225 486904 or email her at <a href="mailto:Jean.Dugmore@aquaterra.org">Jean.Dugmore@aquaterra.org</a>. This way one person can book all courts required. It's recommended that you book at least 12 days in advance to secure the booking.</p>
<p>Alternatively you can book as usual at reception though you can't book more than one court at a time this way so another player/s would also have to book a court for the same time.</p>
<h3>Score / instruction sheets</h3>
<p>The printable score/instruction sheets below explain the tournament rules and can be used during tournaments  to record scores.</p>
            <h4><a href="score-sheet-4-player.pdf" target="_blank">Score sheet for 4 players</a></h4>
            <h4><a href="score-sheet-5-player.pdf" target="_blank">Score sheet for 5 players</a></h4>
            <h4><a href="score-sheet-6-player.pdf" target="_blank">Score sheet for 6 players</a></h4>
            <h4><a href="score-sheet-7-player.pdf" target="_blank">Score sheet for 7 players</a></h4>
              </div><!--Main Body-->
                   <!-- InstanceEndEditable -->
                   
