<h2>League rules</h2>
<ul>
   <li>
      <p>
         The league is open to players of all standard.
      </p>
   </li>
   <li>
      <p>
         All games must be played within the dates specified in the current cycle.
      </p>
   </li>
   <li>
      <p>
         Court fees must be shared equally between both players.
      </p>
   </li>
   <li>
      <p>To arrange matches, players are responsible for contacting the 2 or 3 players below them, depending on how many players are in their box. See the table below.</p>
      <table class="table table-striped" width="280" border="0" cellpadding="5" cellspacing="0" class="table-txt" id="faq-table">
         <tbody>
            <tr>
               <td colspan="4" align="center" valign="middle" class="table-txt"><strong>SYSTEM FOR ARRANGING MATCHES</strong><strong></strong></td>
            </tr>
            <tr>
               <td width="70" align="center" class="table-txt"><strong>PLAYER</strong></td>
               <td width="70" align="center" class="table-txt"><strong>5 PLAYER BOX</strong></td>
               <td width="70" align="center"><strong>6 PLAYER BOX</strong></td>
               <td width="70" align="center"><strong>7 PLAYER BOX</strong></td>
            </tr>
            <tr>
               <td align="center"><strong>1</strong></td>
               <td align="center">2,3</td>
               <td align="center">2,3</td>
               <td align="center">2,3,4</td>
            </tr>
            <tr>
               <td align="center"><strong>2</strong></td>
               <td align="center">3,4</td>
               <td align="center">3,4</td>
               <td align="center">3,4,5</td>
            </tr>
            <tr>
               <td align="center"><strong>3</strong></td>
               <td align="center">4,5</td>
               <td align="center">4,5</td>
               <td align="center">4,5,6</td>
            </tr>
            <tr>
               <td align="center"><strong>4</strong></td>
               <td align="center">5,1</td>
               <td align="center">5,6,1</td>
               <td align="center">5,6,7</td>
            </tr>
            <tr>
               <td align="center"><strong>5</strong></td>
               <td align="center">1,2</td>
               <td align="center">6,1,2</td>
               <td align="center">6,7,1</td>
            </tr>
            <tr>
               <td align="center"><strong>6</strong></td>
               <td align="center">&nbsp;</td>
               <td align="center">1,2,3</td>
               <td align="center">7,1,2</td>
            </tr>
            <tr>
               <td align="center"><strong>7</strong></td>
               <td align="center">&nbsp;</td>
               <td align="center">&nbsp;</td>
               <td align="center">1,2,3</td>
            </tr>
         </tbody>
      </table>
   </li>
   <li>
      <p class="body">
         The squash league is played to the <a href="101102_Singles-Rules-V5.pdf">World Squash Federation Singles Rules</a> though we use the English 'Server only Scores' scoring system and not the American PAR (Point a Rally) system. Details of the 'Server only Scores' scoring system can be found in Appendix 7 (page 39) of the <a href="101102_Singles-Rules-V5.pdf">World Squash Federation Singles Rules</a>.
      </p>
   </li>
   <li>
      <p>
         All matches are the best of 5 games, played with the double yellow spot ball, unless both players agree to use a different type.
      </p>
   </li>
   <li>
      <p>
         The score at the end of court time stands, unless both players agree to a re-match.
      </p>
   </li>
   <li>
      <p>
         League cycles run for a period of 5 weeks. There is usually a week break in between cycles. Over holiday periods, the league may be extended.
      </p>
   </li>
   <li>
      <p>
         A walkover is given to a player if their opponent fails to turn up without giving reasonable prior notice (48hrs or as agreed). Walkovers will be awarded at the discretion of the organisers.
      </p>
   </li>
   <li>
      <p>
         Walkover: 6pts to claimant, 2pts deducted from opponent.
      </p>
   </li>
   <li>
      <p>
         Only completed games count toward points scored.
      </p>
   </li>
   <li>
      <p>
         <strong>Points will be awarded as follows:</strong>
      </p>
   </li>
</ul>
<table class="table table-striped" id="faq-table">
   <tbody>
      <tr>
         <td width="100" align="center"><strong>Game score </strong></td>
         <td width="100" align="center"><strong>Points awarded </strong></td>
      </tr>
      <tr>
         <td align="center" class="table-txt">3-0</td>
         <td align="center" class="table-txt">6-1</td>
      </tr>
      <tr>
         <td align="center" class="table-txt">3-1</td>
         <td align="center" class="table-txt">5-2</td>
      </tr>
      <tr>
         <td align="center" class="table-txt">3-2</td>
         <td align="center" class="table-txt">4-3</td>
      </tr>
      <tr>
         <td align="center" class="table-txt">2-2</td>
         <td align="center" class="table-txt">3-3</td>
      </tr>
      <tr>
         <td align="center" class="table-txt">2-1</td>
         <td align="center" class="table-txt">3-2</td>
      </tr>
      <tr>
         <td align="center" class="table-txt">2-0</td>
         <td align="center" class="table-txt">3-1</td>
      </tr>
   </tbody>
</table>
<ul>
   <li>
      <p>
         The following promotion/relegation outline applies:<br>
         <strong>Winner/Runner-up move up 1 division<br>
         Bottom 2 move down 1 division</strong>
      </p>
   </li>
</ul>
<p>There are rare instances when the above rule doesn't apply, usually when  a division has to contain 5 or 7 players, though we try to be as consistent as possible.</p>
<ul>
   <li>
      <p>
         In the event of points being tied between two or more players at the end of the cycle, positions will be determined based on the following criteria:<br>
         a)&nbsp; Winner of the game between players tied<br>
         b)&nbsp; Player with more victories<br>
         c)&nbsp; Player who played most matches<br>
         d)&nbsp; If STILL equal – then, a play-off OR the Organiser's discretion decides. 
      </p>
   </li>
   <li>
      <p>
         Players not completing their full quota of matches <em>may</em> be excluded from future cycles.
      </p>
   </li>
</ul>