<h3>YouTube Squash Tips</h3>
<h4>The Warm Up</h4>
<h3><iframe class="response-width" width="423" height="238" src="https://www.youtube.com/embed/7si_4wdoQAI" frameborder="0" allowfullscreen></iframe></h3>
<h4>The Serve</h4>
<h3><iframe class="response-width" width="423" height="238" src="https://www.youtube.com/embed/etr1rdwNYA8" frameborder="0" allowfullscreen></iframe></h3>
<h4>Return of Serve</h4>
<h3><iframe class="response-width" width="423" height="238" src="https://www.youtube.com/embed/ix0erbQ8oGs" frameborder="0" allowfullscreen></iframe></h3>
<h4>Court Movement</h4>
<h3><iframe class="response-width" width="423" height="238" src="https://www.youtube.com/embed/vGWtyPBr21M" frameborder="0" allowfullscreen></iframe></h3>
<h4>Forehand Drive</h4>
<h3><iframe class="response-width" width="423" height="238" src="https://www.youtube.com/embed/lJfCFoxDkCQ" frameborder="0" allowfullscreen></iframe></h3>
<h4>Backhand Drive</h4>
<h3><iframe class="response-width" width="423" height="238" src="https://www.youtube.com/embed/UlHP5CblzpA" frameborder="0" allowfullscreen></iframe></h3>
<h4>The Volley</h4>
<h3><iframe class="response-width" width="423" height="238" src="https://www.youtube.com/embed/vQlJ2S0BXUo" frameborder="0" allowfullscreen></iframe></h3>
<h4>The Boast</h4>
<h3><iframe class="response-width" width="423" height="238" src="https://www.youtube.com/embed/i8rVVsicIoI" frameborder="0" allowfullscreen></iframe></h3>
<h4>The Drop shot</h4>
<h3><iframe class="response-width" width="423" height="238" src="https://www.youtube.com/embed/dpRkXAG-uYg" frameborder="0" allowfullscreen></iframe></h3>
<h4>The Lob</h4>
<h3><iframe class="response-width" width="423" height="238" src="https://www.youtube.com/embed/aIO0UTZtMfo" frameborder="0" allowfullscreen></iframe></h3>
<h4>Recovery</h4>
<h3><iframe class="response-width" width="423" height="238" src="https://www.youtube.com/embed/IhngWuZwXPI" frameborder="0" allowfullscreen></iframe></h3>